*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #0093E9;
 
}

@keyframes fade{
    0%{opacity: 0;}
    50%{ opacity: 1;}
    100%{opacity: 0;}
}

@keyframes fadeBkg{
    to{opacity: 0;}

}

.containerWdnAnimation{
    height: 100vh;
    width: 100vw;
    background-color: #0093E9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   position: absolute;
   animation: fadeBkg 2s;
   animation-delay:3s ;
   animation-fill-mode:forwards;
}

.containerAnimation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 50vw;
}

.animationTitle{
    font-size: 3.75rem;
    margin-bottom: 2%;
    animation: fade 3s;
    animation-fill-mode:forwards;
}

.animationText{
    font-size:1.875rem;
    line-height: 2.5rem;
    animation: fade 3s;
    animation-fill-mode:forwards;
}

.headerStyle{
    background-color: #0093E9;
    color: white;
    display: flex;
    align-self: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    width: 100vw;
}

.navTitleStyle{
    margin-left: 5%;
}

.listStyle{
    display: flex;
    align-self: center;
    justify-content: space-around;
    width: 30vw;
    list-style: none;
}

.navLinks {
    text-decoration: none;
    color: white;
}

.navLinks:visited {
    text-decoration: none;
    color: white;
}


.itemStyle{
    font-size: 1.1rem;
    font-weight: 600;
}

.sectionOneStly,.sectionTwoStyle{
    padding: 6% 0%;
    width: 100vw;
    display: grid;
    grid-template:1fr/1fr 1fr;
    align-items: center;
    background-color: white;
}

.imgOneStyle, .imgTwoStyle{
    height: 70%;
    width: 100%;
}

.textOneStyle{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.titleSection{
   font-size: 1.8rem;
   margin:13% 0% 10% 0% ;
}

.textSection{
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.sectionTwoStyle , .sectionThreeStyle{
    margin-top: 10%;
}

.titleSectionTwo{
    font-size: 1.8rem;
    margin: 5% 10%;
}

.textSectionTwo{
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: 4% 10% 2% 10%;
}

.sectionListStyle{
    margin-left: 15%;
}

.descriptListStyle{
    margin-left: 5%;
}

.listDescriptionItem{
  margin-bottom: 4%;
}

.sectionThreeStyle{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7% 0%;
    width:100vw;
    background-color: white;
}

.callContainer{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-top: 5%;
}

.callToActTitle{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.calltoAct{
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
    width: 80vw;
    margin-bottom: 5%;
}

.callBtn{
    font-size: 1.2rem;
    border: 1px solid #ffff;
    border-radius: 50px;
    color: white;
    background-color: #0093E9;
    padding: 20px;
    text-decoration: none;
    margin-left: 50px;
}

.footerStyle{
    background-color: #ffff;
    width: 100vw;
    margin: 8% 0% 5%;
    display: grid;
    grid-template:1fr/1fr 1fr 1fr;
    align-items: center;
    padding: 5%;
}

.logoftStyle{
    height: 25vh;
    width: 19vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius:68% 32% 65% 36% / 68% 26% 74% 32% ;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.logoText{
    font-size: 0.8rem;
}

.logoFtText{
    margin: 2%;
    font-size: 0.7rem;
}

.contactFtStyle{
    display: flex;
    flex-direction: column;
}

.contactTltStyle{
    margin-bottom: 3%;
}

.labelStyle{
    font-weight: 600;
}

.contactLinks{
    margin: 0% 0% 3% 4%;
    color: black;
    text-decoration: none;
}

.contactLinks:visited{
    text-decoration:  none;
    color: black;
}

.suportFtStyle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.atribution,.atributionTXt{
    text-align: center;
    color: #ffff;
    text-decoration: none;
}

.atributionTXt:visited{
    color: #ffff;
}
