*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

}

body{
display: flex;
flex-direction: column;
align-items: center;
background: url(./images/background.jpg)no-repeat;
background-size: cover;
}

.txtStyle{
  font-size: 1.3rem;
  font-weight: 700;
  color: #ffff;
  margin: 7% 0%;
  text-align: center;
  padding: 5px;
}

.container{
  width: 90vw;
  display: grid;
  grid-template: 1fr 1fr /1fr ;
  backdrop-filter: blur(27px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.42);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.asideStyle{
  color: white;
  margin-top: 10%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.imgStyle{
  width: 80%;
}

.descriptionBox{
  text-align: center;
}

.descriptionBox h3{
  font-size: 1.4rem;
  font-weight: 700;
}

.descriptionBox p{
  margin: 8% auto 0% auto;
  width: 80%;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.titleStyle{
  margin: 10% 0%;
  text-align: center;
}

.formContainer{
  background-color: white;
  border-radius: 12px;
}

.formStyle{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin:0% 10%;

}

.nameLabel{
  margin-top: 10%;
}

.inputStyle {
  border:none;
  border-bottom:2px solid gray;
  margin:5% 0% 5% 10%;
  width: 80%;
  padding: 6px;
}

.btnStyle{
  margin:10%;
  padding: 15px;
  border:2px solid black;
  border-radius: 40px;
}

.linkFooterContainer{
  font-size: 10px;
  }  

  .thanksContainer{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.911);
    position:absolute;
    display:none;
  
  }
  
  .thankWindow{
    height: 70vh;
    width: 70vw;
    background-color:#0093E9;
    border-radius: 12px;
    margin: 8% auto;
  }

  .containerImgwindow{
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
  }

  .imgwindowStyle{
    display: none;
    width: 100%;
  }

  .textContainer{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color: #ffff;
  }
  
  .thanksTitle{
    font-size: 1.4rem;
    font-weight: 700;
    margin: 15% 0% 15% 0%;
  }

.thanksText{
  text-align: center;
  margin: 0% 7%;
  font-size: 1rem;
  font-weight: 500;
  line-height:1.6rem ;
}

.linkPageStyle{
  margin-top: 10%;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid #000000;
  padding: 10px 45px;
  border-radius: 40px;
  background-color: white;
}

  @media screen and (min-width:450px) and (max-width:949px) {

    .descriptionBox h3{
      font-size: 2rem;
      font-weight: 700;
    }

    .descriptionBox p{
      margin: 8% auto 0% auto;
      width: 80%;
      line-height: 2rem;
      font-size: 1.4rem;
    }

  }
@media screen and (min-width:1000px) {  
  *{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  
  }
  
  body{
    background: url(./images/background.jpg)no-repeat;
    background-size: cover;
  }

  .txtStyle{
    font-size: 2rem;
    font-weight: 700;
    color: #ffff;
    margin: 7% 0%;
    text-align: center;
    padding: 5px;
  }

  .container{
    width: 90vw;
    display: grid;
    grid-template: 1fr /2fr 1fr ;
    backdrop-filter: blur(27px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.42);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .asideStyle{
    color: white;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
  }
  
  .imgStyle{
    width: 70%;
  }

  .thanksContainer{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.911);
    position:absolute;
    display: none;
  }
  .thankWindow{
    height: 70vh;
    width: 70vw;
    background-color:#0093E9;
    border-radius: 12px;
    margin: 8% auto;
    display: grid;
    grid-template:  1fr / 1fr 1fr
  }

  .containerImgwindow{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .imgwindowStyle{
    display: initial;
    width: 100%;
  }

    .textContainer{
    display: flex;
    flex-direction:column;
    align-items: center;
    color: #ffff;
  }
  
  .thanksTitle{
    font-size: 1.7rem;
    font-weight: 700;
    margin: 10% 0%;
  }

.thanksText{
  text-align: center;
  margin: 0% 7%;
  font-size: 1.2rem;
  font-weight: 500;
  line-height:1.9rem ;
}

.linkPageStyle{
  margin-top: 10%;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 1.3rem;
  font-weight: 700;
  border: 1px solid #000000;
  padding: 20px  55px;
  border-radius: 40px;
  background-color: white;
}
}

